@media (min-width: 769px) {
  .main {
    &__intro {
      display: flex;

      &--left {
        width: 50%;
      }
      &--title {
        font-size: 3.5rem;
        padding: 2.5rem 7rem;
        margin: 4.5rem 2.4rem -1rem;
        text-align: left;
        line-height: 3rem;
      }

      &--paragraph {
        padding: 0rem 7rem;
        margin: 0rem 2.4rem;
        text-align: left;
      }

      &--rating {
        margin-top: 8.5rem;
        gap: 2rem;
        font-size: $font-size;
      }

      &--reviews {
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 24rem;
        gap: 2rem;
        margin-bottom: -0.8rem;
      }
      &--report {
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 24rem;
        gap: 2rem;
        margin-left: 3rem;
        margin-bottom: -0.8rem;
      }
      &--bestTech {
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 24rem;
        gap: 2rem;
        margin-left: 6rem;
      }
    }

    &__testimonials {
      padding: 2.3rem 8.5rem;
      display: flex;
      gap: 2rem;

      &--article2 {
        margin-top: 1rem;
        margin-bottom: -1rem;
      }
      &--article3 {
        margin-top: 2rem;
        margin-bottom: -2rem;
      }
    }
  }
}
