@media (min-width: 769px) {
  .main {
    &__intro {
      display: flex;

      &--left {
        width: 50%;
      }
      &--title {
        font-size: 3.5rem;
        padding: 2.5rem 7rem;
        margin: 4.5rem 2.4rem -1rem;
        text-align: left;
        line-height: 3rem;
      }

      &--paragraph {
        padding: 0rem 7rem ;
        margin: 0rem 2.4rem ;
        text-align: left;
      }
    }
  }
}
