.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main__intro--title {
  font-weight: 700;
  font-size: 2.4rem;
  margin-top: 4.4rem;
  padding: 0 2rem;
  line-height: 2rem;
  color: hsl(300, 43%, 22%);
}
.main__intro--paragraph {
  margin-top: -0.4rem;
  padding: 0 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(300, 43%, 22%);
  line-height: 1.6rem;
  margin-bottom: 2.5rem;
}
.main__intro--rating {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}
.main__intro--rate {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 1.05rem;
  margin-top: 0.5rem;
}
.main__intro--stars {
  padding: 1rem 0 0;
}
.main__intro--reviews {
  display: flex;
  flex-direction: column;
  background-color: hsl(300, 24%, 96%);
  border-radius: 1rem;
}
.main__intro--report {
  background-color: hsl(300, 24%, 96%);
  border-radius: 1rem;
}
.main__intro--bestTech {
  background-color: hsl(300, 24%, 96%);
  border-radius: 1rem;
  margin-bottom: 1.4rem;
}
.main__testimonials {
  margin: 1rem;
  border-radius: 1rem;
  color: hsl(0, 0%, 100%);
}
.main__testimonials--article {
  background-color: hsl(300, 43%, 22%);
  padding: 1.7rem 2rem 1rem;
  text-align: left;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1.05rem;
}
.main__testimonials--author {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.main__testimonials--detail {
  line-height: 0.5rem;
  margin-left: 0.7rem;
  font-size: 1rem;
}
.main__testimonials--img {
  border-radius: 3rem;
  width: 40px;
  height: 40px;
}
.main__testimonials--span {
  color: hsl(333, 80%, 67%);
  font-weight: 100;
}
.main__testimonials--paragraph {
  line-height: 1.4rem;
}

@media (min-width: 769px) {
  .main__intro {
    display: flex;
  }
  .main__intro--left {
    width: 50%;
  }
  .main__intro--title {
    font-size: 3.5rem;
    padding: 2.5rem 7rem;
    margin: 4.5rem 2.4rem -1rem;
    text-align: left;
    line-height: 3rem;
  }
  .main__intro--paragraph {
    padding: 0rem 7rem;
    margin: 0rem 2.4rem;
    text-align: left;
  }
  .main__intro--rating {
    margin-top: 8.5rem;
    gap: 2rem;
    font-size: 0.9rem;
  }
  .main__intro--reviews {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 24rem;
    gap: 2rem;
    margin-bottom: -0.8rem;
  }
  .main__intro--report {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 24rem;
    gap: 2rem;
    margin-left: 3rem;
    margin-bottom: -0.8rem;
  }
  .main__intro--bestTech {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 24rem;
    gap: 2rem;
    margin-left: 6rem;
  }
  .main__testimonials {
    padding: 2.3rem 8.5rem;
    display: flex;
    gap: 2rem;
  }
  .main__testimonials--article2 {
    margin-top: 1rem;
    margin-bottom: -1rem;
  }
  .main__testimonials--article3 {
    margin-top: 2rem;
    margin-bottom: -2rem;
  }
}
body {
  height: 100vh;
  font-family: "League Spartan", sans-serif;
  font-size: 0.9rem;
}/*# sourceMappingURL=main.css.map */